:root {
    --verdeBajo:#04b39b;
    --verdeMedio:#04b39b;
    --verdeFuerte:#048c74;
    --verdePino: #71997c;
    --verdeMusgo:#8c9c84;
    --rosaRojo: #e6afad;
    --grisFondo:#E6E2E1;
}

*{
    margin: 0;
    padding: 0;
    font-family: 'Montserrat', sans-serif, !important;
    box-sizing: border-box;
}



  body {
    background-position: center;
    background-size: cover;
    position: rela;
    background-image: url(../img/lebanon.jpg);
}


/*--------------------------------------------------NAVBAR---------------------------------------------------*/
nav ul li a {
    color: white !important;
    font-weight: bolder !important;
    text-transform: uppercase !important;
}

nav ul li a:hover {
    color: var(--verdeMedio) !important;
}

/*--------------------------------------------------------------------------------------------------------------*/



.color-resaltado{
    color:rgb(148, 88, 88);
}


.header-container { 
    grid-area: header-container; 
}


.main-container { 
    grid-area: main-container; 
}

#main-content .contenedor{
    text-align: center;
    padding: 200px 12px;
}


#main-content p{
    text-align: justify;
    background: rgba(0,0,0,0.4);
    color: white;
}

.cedros img{
    width:50px;
    animation: cedro 7s linear infinite;
}

.cedros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: absolute;
    bottom: -70px;
}

@keyframes cedro {
    0% {
        transform: translateY(0);
        opacity: .5;
    }
    50% {
        opacity: .5;
    }
    70% {

        opacity: .5;
    }
    100% {
        transform: translateY(-80vh);
        opacity: .5;
    }
}

.cedros img:nth-child(1){
    animation-delay: 2s;
}

.cedros img:nth-child(2){
    animation-delay: 1s;
}

.cedros img:nth-child(3){
    animation-delay: 3s;
}

.cedros img:nth-child(4){
    animation-delay: 4.5s;
}

.cedros img:nth-child(5){
    animation-delay: 2.5s;
}

.cedros img:nth-child(6){
    animation-delay: 6s;
}

.cedros img:nth-child(7){
    animation-delay: 7s;
}
/*---------------------------Libro--------------------------------*/


/*---------------------------Precios--------------------------------*/

.animate-charcter
{
  background-image: linear-gradient(
    -225deg,
    #e6e2f3 0%,
    #2a9c9c 29%,
    #4e7975 67%,
    #a86f67 100%
  );
  background-size: auto auto;
  background-clip: border-box;
  background-size: 200% auto;
  color: #fff;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  animation: textclip 2s linear infinite;
  display: inline-block;
      font-size: 50px;
}

@keyframes textclip {
  to {
    background-position: 200% center;
  }
}

.card {
    margin-right: 60px;
    margin-bottom: 150px;
    margin-top: 40px;
    width: 200px !important;
}

#comprar {
    background-color: blanchedalmond !important;
    font-weight: bolder;
}

#comprar:hover {
    background-color: var(--verdeFuerte) !important;
}

.presentaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/*------------------------------------PEDIDOS----------------------------------------------------*/

.form__box {
    width: 100%;
    position: relative;
    width: 100px;
    border-radius: 20px;
}

form {
    width: 400px;
    background-color:gray;
    font-size: 12px;
}
.h2-texto{
    text-transform: uppercase;
    text-align: center;
}

form h4 {
    color: var(--rosaRojo);
    text-transform: uppercase;
    font-size: 25px;
    text-align: center;
    margin: 0;
    margin-bottom: 10px;
}

label {
    color: white;
    width: 150px;
    display: inline-block;
    font-weight: 700;
    font-size: 15px;
    height: 48px;
    align-items: center;
    margin-left: 50px;
}

#nombre, #tel, #dir, #email {
    width: 200px;
    max-width: 300px;
    text-align: center;
}


textarea {
    display: block;
    margin-right: auto;
    margin-left: 50px;
    text-align: center;
    margin-top: 10px;
}

.div__buttons {
    display:block;
    margin-top: 15px;
    margin-bottom: 5px;
    text-align: center;
   right: -25px;
}

#boton__1 {
    padding: 2px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;

}

#boton__1:hover {
    border: 1px solid black;
    background:  var(--rosaRojo);
    transition: 1s;
    cursor: pointer;
}

#boton__2 {
    padding: 2px;
    background-color: white;
    text-transform: uppercase;
    font-weight: 800;
    font-size: 10px;
}

#boton__2:hover {
    border: 1px solid black;
    background:  var(--rosaRojo);
    transition: 1s;
    cursor: pointer;
}

.hero__btn {
    display: inline-block;
    text-decoration: none;
    color: black;
    border: 1px solid --rosaRojo;
    padding: 12px 34px;
    font-size: 14px;
    font-weight: 600;
    background: blanchedalmond;
    position: relative;
    cursor: pointer;
}

.hero__btn:hover {
    border: 1px solid --rosaRojo;
    background:  var(--rosaRojo);
    transition: 1s;
}

/*-------pedidos.html----------------*/

iframe {
    display: inline-block;
    width: 270px;
    height: 400px;
}

/*--------------------------footer---------------------------------*/

.copyright {
    font-weight: bolder;
    font-size: 12px;
}

@media screen and (min-width: 768px) {
    .card:hover {
        transform:  scale(1.1);
    }
}

