
/*-------MEDIA QUERIES--------*/
@media screen and (min-width: 768px) {

    .card:hover {
        transform:  scale(1.1);
    }
    #comprar:hover {
        background-color: $verdeFuerte !important;
    }
    nav {
        a:hover {
            color: $verdeMedio !important;
            }
    }
.animate-charcter {
        background-image:
        linear-gradient(
          -225deg,
          #e6e2f3 0%,
          #2a9c9c 29%,
          #4e7975 67%,
          #a86f67 100% );
        background-size: auto auto;
        background-clip: border-box;
        background-size: 200% auto;
        color: #fff;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        animation: textclip 2s linear infinite;
        display: inline-block;
        font-size: 50px;
    }

      @keyframes textclip {
        to {
          background-position: 200% center;
        }
      }

    .cedros {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-around;
        position: fixed;
        bottom: -70px;
        img {
        width:50px;
        animation: cedro 6s linear infinite;
        }
}

    @keyframes cedro {
            0% {
                transform: translateY(0);
                opacity: .5;
            }
            50% {
                opacity: .5;
            }
            70% {
                opacity: .5;
            }
            100% {
                transform: translateY(-90vh);
                opacity: .5;
            }
 }

    .cedros {
        img:nth-child(1){
        animation-delay: 2s;
        }

        img:nth-child(2){
            animation-delay: 1s;
        }

        img:nth-child(3){
            animation-delay: 3s;
        }
        img:nth-child(4){
        animation-delay: 4.5s;
        }

        img:nth-child(5){
        animation-delay: 2.5s;
        }

        img:nth-child(6){
        animation-delay: 6s;
        }

        img:nth-child(7){
        animation-delay: 7s;
        }
    }


    .form-holder {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
        min-height: 100vh;
      }
      
      .form-holder .form-content {
        position: relative;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 60px;
      }
      
      .form-content .form-items {
        background-color: #04b39b;
        border: 3px solid blanchedalmond;
        padding: 40px;
        display: inline-block;
        width: 100%;
        min-width: 540px;
        border-radius: 10px;
        text-align: left;
        transition: all 0.4s ease;
      }
      .form-content .form-items h3 {
        color: black !important;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
      }
      .form-content .form-items form-title {
        margin-bottom: 30px;
      }
      
      p {
        color: blanchedalmond;
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px;
      }
      
      textarea {
        position: static !important;
        width: 100%;
        padding: 8px 20px;
        border-radius: 6px;
        text-align: left;
        background-color: blanchedalmond;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        color: blanchedalmond;
        outline: none;
        resize: none;
        height: 120px;
        transition: none;
        margin-bottom: 14px;
      }

}


