

/*------------------------------------PEDIDOS----------------------------------------------------*/
.form-holder {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      text-align: center;
      min-height: 100vh;
}

.form-holder .form-content {
    position: relative;
    text-align: center;
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-align-items: center;
    align-items: center;
    padding: 60px;
}

.form-content .form-items {
    background-color: map-get($colores, formulario);
    border: 3px solid $blancoAlmendra;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    border-radius: 10px;
    text-align: left;
    -webkit-transition: all 0.4s ease;
    transition: all 0.4s ease;
    
    h3 {
        color: black !important;
        text-align: left;
        font-size: 28px;
        font-weight: 600;
        margin-bottom: 5px;
    }
    
    form-title {
            margin-bottom: 30px;
        }
}

    p {
        color: $blancoAlmendra;
        text-align: left;
        font-size: 17px;
        font-weight: 300;
        line-height: 20px;
        margin-bottom: 30px;
    }

    textarea {
        position: static !important;
        width: 100%;
        padding: 8px 20px;
        border-radius: 6px;
        text-align: left;
        background-color: $blancoAlmendra;
        border: 0;
        font-size: 15px;
        font-weight: 300;
        color: $blancoAlmendra;
        outline: none;
        resize: none;
        height: 120px;
        -webkit-transition: none;
        transition: none;
        margin-bottom: 14px;
    }

    /*Map*/
.haz_pedido {
    color: map-get($colores , h3);
}

.form-content label, .was-validated .form-check-input:invalid~.form-check-label, .was-validated .form-check-input:valid~.form-check-label{
    color: $blancoAlmendra;
}

.form-content input[type=text], .form-content input[type=tel], .form-content input[type=email], .form-content select {
    width: 100%;
    padding: 9px 20px;
    text-align: left;
    border: 0;
    outline: 0;
    border-radius: 6px;
    background-color: $blancoAlmendra;
    font-size: 15px;
    font-weight: 300;
    color: black;
    -webkit-transition: all 0.3s ease;
    transition: all 0.3s ease;
    margin-top: 16px;
}

/*Extend*/
.btn {
    outline: none;
    border: 0px;
     box-shadow: none;
}

.btn--enviar {
 @extend .btn;
    background-color: $grisAzul !important;

}

.btn--borrar {
    @extend .btn;
       background-color: $grisAzul !important;
   
   }
.btn-primary:hover, .btn-primary:focus, .btn-primary:active{
    background-color: $blancoAlmendra;
    outline: none !important;
    border: none !important;
     box-shadow: none;
}

.form-content textarea:hover, .form-content textarea:focus {
    border: 0;
    background-color: $blancoAlmendra;
    color: $blancoAlmendra;
}

.mv-up{
    margin-top: -9px !important;
    margin-bottom: 8px !important;
}

