
/*-----------------------------PRECIOS-----------------------------*/

.card {
    margin-right: 60px;
    margin-bottom: 150px;
    margin-top: 40px;
    width: 200px !important;
    
}

#comprar {
    background-color: blanchedalmond !important;
    font-weight: bolder;

}

.presentaciones {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}