/*-------RECETA SEMANA-------*/
iframe {
  height: 450px;
}


/*mixin*/
@mixin youtube {
  display: inline-block;
  padding:10px;
  border: 1px solid green;
}

.youtube--blue{
  @include btn;
  background-color: green !important;
}

