    /*vars*/
    /*Colores*/
        $verdeBajo:#04b39b;
        $verdeMedio:#04b39b;
        $verdeFuerte:#048c74;
        $verdePino: #71997c;
        $verdeMusgo:#8c9c84;
        $rosaRojo: #e6afad;
        $grisFondo:#E6E2E1;
        $grisAzul: #818699;
        $blancoAlmendra: blanchedalmond;

    /*Color Map Get*/

    $colores: (
        formulario: $verdeBajo,
    );


    @mixin copyright {
        display: inline-block;
        padding: 10px;
        border: 1px solid $verdePino;
    }

