    /*vars*/
        $verdeBajo:#04b39b;
        $verdeMedio:#04b39b;
        $verdeFuerte:#048c74;
        $verdePino: #71997c;
        $verdeMusgo:#8c9c84;
        $rosaRojo: #e6afad;
        $grisFondo:#E6E2E1;
    
    