
@import '_vars';
@import '_nav';
@import '_index';
@import '_precios';
@import '_mediaQueries';
@import '_pedidos';
@import '_recetaSemana';
@import '_footer';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font: {
        family: 'Montserrat', sans-serif, !important;
        
    }
}

body {
    background-position: center;
    background-size: cover;
    position: relative;
    background-image: url("/img/lebanon.jpg");
  }






