/*vars*/
/*Colores*/
/*Color Map Get*/
/*---------------nav*-------------------*/
nav a {
  color: white !important;
  font-weight: bolder !important;
  text-transform: uppercase !important;
}

/*Main*/
.color-resaltado {
  color: rgb(148, 88, 88);
}

.header-container {
  grid-area: header-container;
}

.main-container {
  grid-area: main-container;
}

#main-content .contenedor {
  text-align: center;
  padding: 200px 12px;
}

#main-content p {
  text-align: justify;
  background: rgba(0, 0, 0, 0.4);
  color: white;
}

.cedros {
  display: none;
}

/*-----------------------------PRECIOS-----------------------------*/
.card {
  color: black !important;
  margin-right: 60px;
  margin-bottom: 150px;
  margin-top: 40px;
  width: 200px !important;
}

#comprar {
  background-color: #048c74 !important;
  font-weight: bolder;
}

.presentaciones {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.card-text {
  color: red;
  font-weight: bolder;
  text-align: center;
}

/*-------MEDIA QUERIES--------*/
@media screen and (min-width: 768px) {
  col {
    display: flex !important;
    justify-content: center !important;
  }

  .card:hover {
    transform: scale(1.1);
  }

  #comprar:hover {
    background-color: #048c74 !important;
  }

  nav a:hover {
    color: #04b39b !important;
  }

  .animate-charcter {
    background-image: linear-gradient(-225deg, #e6e2f3 0%, #2a9c9c 29%, #4e7975 67%, #a86f67 100%);
    background-size: auto auto;
    background-clip: border-box;
    background-size: 200% auto;
    color: #fff;
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    -webkit-animation: textclip 2s linear infinite;
            animation: textclip 2s linear infinite;
    display: inline-block;
    font-size: 50px;
  }

  @-webkit-keyframes textclip {
    to {
      background-position: 200% center;
    }
  }

  @keyframes textclip {
    to {
      background-position: 200% center;
    }
  }
  .cedros {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: fixed;
    bottom: -70px;
  }
  .cedros img {
    width: 50px;
    -webkit-animation: cedro 6s linear infinite;
            animation: cedro 6s linear infinite;
  }

  @-webkit-keyframes cedro {
    0% {
      transform: translateY(0);
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(-90vh);
      opacity: 0.5;
    }
  }

  @keyframes cedro {
    0% {
      transform: translateY(0);
      opacity: 0.5;
    }
    50% {
      opacity: 0.5;
    }
    70% {
      opacity: 0.5;
    }
    100% {
      transform: translateY(-90vh);
      opacity: 0.5;
    }
  }
  .cedros img:nth-child(1) {
    -webkit-animation-delay: 2s;
            animation-delay: 2s;
  }
  .cedros img:nth-child(2) {
    -webkit-animation-delay: 1s;
            animation-delay: 1s;
  }
  .cedros img:nth-child(3) {
    -webkit-animation-delay: 3s;
            animation-delay: 3s;
  }
  .cedros img:nth-child(4) {
    -webkit-animation-delay: 4.5s;
            animation-delay: 4.5s;
  }
  .cedros img:nth-child(5) {
    -webkit-animation-delay: 2.5s;
            animation-delay: 2.5s;
  }
  .cedros img:nth-child(6) {
    -webkit-animation-delay: 6s;
            animation-delay: 6s;
  }
  .cedros img:nth-child(7) {
    -webkit-animation-delay: 7s;
            animation-delay: 7s;
  }

  .form-holder {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    min-height: 100vh;
  }

  .form-holder .form-content {
    position: relative;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 60px;
  }

  .form-content .form-items {
    background-color: #04b39b;
    border: 3px solid blanchedalmond;
    padding: 40px;
    display: inline-block;
    width: 100%;
    min-width: 540px;
    border-radius: 10px;
    text-align: left;
    transition: all 0.4s ease;
  }

  .form-content .form-items h3 {
    color: black !important;
    text-align: left;
    font-size: 28px;
    font-weight: 600;
    margin-bottom: 5px;
  }

  .form-content .form-items form-title {
    margin-bottom: 30px;
  }

  p {
    color: blanchedalmond;
    text-align: left;
    font-size: 17px;
    font-weight: 300;
    line-height: 20px;
    margin-bottom: 30px;
  }

  textarea {
    position: static !important;
    width: 100%;
    padding: 8px 20px;
    border-radius: 6px;
    text-align: left;
    background-color: blanchedalmond;
    border: 0;
    font-size: 15px;
    font-weight: 300;
    color: blanchedalmond;
    outline: none;
    resize: none;
    height: 120px;
    transition: none;
    margin-bottom: 14px;
  }
}
/*------------------------------------PEDIDOS----------------------------------------------------*/
.form-holder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  min-height: 100vh;
}

.form-holder .form-content {
  position: relative;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 60px;
}

.form-content .form-items {
  background-color: #04b39b;
  border: 3px solid blanchedalmond;
  padding: 40px;
  display: inline-block;
  width: 100%;
  min-width: 540px;
  border-radius: 10px;
  text-align: left;
  transition: all 0.4s ease;
}
.form-content .form-items h3 {
  color: black !important;
  text-align: left;
  font-size: 28px;
  font-weight: 600;
  margin-bottom: 5px;
}
.form-content .form-items form-title {
  margin-bottom: 30px;
}

p {
  color: blanchedalmond;
  text-align: left;
  font-size: 17px;
  font-weight: 300;
  line-height: 20px;
  margin-bottom: 30px;
}

textarea {
  position: static !important;
  width: 100%;
  padding: 8px 20px;
  border-radius: 6px;
  text-align: left;
  background-color: blanchedalmond;
  border: 0;
  font-size: 15px;
  font-weight: 300;
  color: blanchedalmond;
  outline: none;
  resize: none;
  height: 120px;
  transition: none;
  margin-bottom: 14px;
}

/*Map*/
.form-content label, .was-validated .form-check-input:invalid ~ .form-check-label, .was-validated .form-check-input:valid ~ .form-check-label {
  color: blanchedalmond;
}

.form-content input[type=text], .form-content input[type=tel], .form-content input[type=email], .form-content select {
  width: 100%;
  padding: 9px 20px;
  text-align: left;
  border: 0;
  outline: 0;
  border-radius: 6px;
  background-color: blanchedalmond;
  font-size: 15px;
  font-weight: 300;
  color: black;
  transition: all 0.3s ease;
  margin-top: 16px;
}

/*Extend*/
.btn, .btn--borrar, .btn--enviar {
  outline: none;
  border: 0px;
  box-shadow: none;
}

.btn--enviar {
  background-color: #818699 !important;
}

.btn--borrar {
  background-color: #818699 !important;
}

.btn-primary:hover, .btn-primary:focus, .btn-primary:active {
  background-color: blanchedalmond;
  outline: none !important;
  border: none !important;
  box-shadow: none;
}

.form-content textarea:hover, .form-content textarea:focus {
  border: 0;
  background-color: blanchedalmond;
  color: blanchedalmond;
}

.mv-up {
  margin-top: -9px !important;
  margin-bottom: 8px !important;
}

/*-------RECETA SEMANA-------*/
iframe {
  height: 450px;
}

/*--------------------------footer---------------------------------*/
.copyright {
  display: inline-block;
  padding: 10px;
  border: 1px solid #71997c;
  font-weight: bolder !important;
  font-size: 12px !important;
  color: black;
}

/* Map*/
.red-fb {
  color: blue !important;
}

.red-ws {
  color: green !important;
}

.red-ig {
  color: violet !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif, !important;
}

body {
  background-position: center;
  background-size: cover;
  position: relative;
  background-image: url("/img/lebanon.jpg");
}/*# sourceMappingURL=styles.css.map */